.page {
    width: 100%;
    height: auto;
}

.page .body {
    min-height: calc(100vh - 65px);
    width: 100%;
}

button {
    padding: 0px;
    margin: 0px;
    box-sizing: content-box;
    border: none;
}

div {
    box-sizing:border-box;
}