.dialogButton {
  border-radius: 4px;
  border: none;
  cursor: pointer;
  &:hover {
    background-color: gray;
  }
}
.bookCover {
  margin: auto;
  width: 100%;
  height: auto;
  box-shadow: 5px 5px 10px grey;
}
.bookName {
  font-weight: 400;
  font-size: 1.2rem;
  color: black;
}
.writer {
  color: black;
}
