.modalContainer {
  width: 100vw;
  height: 100vh;
  margin: auto;
  left: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
}
.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.2);
}
.dialogBox {
  width: 70%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 30px rgba(30, 30, 30, 0.185);
  box-sizing: border-box;
  background-color: white;
  z-index: 10000;
}
.pdfInfoContainer {
  display: flex;
  width: 95%;
  height: 70%;
}
.pdfTitle {
  color: black;
  font-weight: 800;
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.pdfInfo {
  height: 80%;
  width: 100%;
  flex-direction: row;
  padding-left: 50px;
}
.pdfThumbnail {
  box-shadow: 5px 5px 10px grey;
  margin-left: 50px;
  margin-right: auto;
  margin-top: 25px;
  height: 100%;
}
.pdfInfoText {
  width: 100%;
  padding-right: 5%;
  text-overflow: ellipsis;
}
.buyPDFButtonContainer {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin-bottom: 40px;
}
.buyPDFButton {
  background-color: black;
  border-radius: 0.5rem;
  width: 100%;
  height: 50px;
  color: white;
  margin: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}
