@import url('https://webfontworld.github.io/pretendard/Pretendard.css');

.topicContainer {
  display: flex;
  width: auto;
}
.topicText {
  font-family: 'Pretendard';
  padding-left: 5px;
}
.topicImage {
}
